.products-wrapper {
    padding: 30px 0 0;
}

.product-category {
    margin-bottom: 30px;
}

h2.product-page-title {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 30px;
    border-bottom: 2px solid #f36921;
    padding: 0 0 15px 0;
}

.product-category .nav-item {
    margin-right: 15px;
}

.product-category .nav-link {
    color: #000;
    border: 1px solid;
    border-radius: 20px;
    font-weight: 700;
}

.product-category .nav-link:hover,
.product-category .nav-link.active {
    background: #000;
    color: #fff;
}

.products-input-field .form-control {
    border-radius: 20px;
    padding: 7px 25px;
    font-size: 14px;
    border: 1.5px solid #ccc;
}

.products-input-field .form-row {
    margin-bottom: 15px;
    width: 60%;
}

.prompt-section {
    margin-top: 20px;
    color: #777;
    position: relative;
}

.image-placeholder {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.overlay-text {
    position: absolute;
    padding: 10px 20px;
    font-size: 15px;
}

.generate-btn {
    background: #f26b22;
    text-align: center;
    border-radius: 50px;
    width: 200px;
    padding: 5px 0;
    display: flex;
    align-items: center;
    margin: 25px 0 0 auto;
    justify-content: center;
}

.generate-btn .btn {
    color: #fff !important;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.6px;
    font-size: 22px;
    padding-left: 2px;
    padding-right: 0;
    border: 0;
}

.generate-btn .icon-img img {
    width: 55px;
}

.description-row .gridItem {
    height: 250px;
}

.description-row .gridItem img {
    width: 100%;
    box-shadow: 1px 2px 6px #f2f2f2;
    border: 1px solid #f2f2f2;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.radio-btn-row {
    padding: 15px 0 0;
    display: flex;
}

.radio-wrap {
    display: inline-block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    width: 60px;
    height: 40px;
    text-align: center;
    margin-right: 10px
}

.radio-wrap input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
    width: 60px;
    background-color: #eee;
    font-size: 15px;
    color: #999;
    font-size: 14px;
    font-weight: 600;
    padding-top: 10px;
}

.radio-wrap:hover input~.checkmark {
    background-color: #ccc;
}

.radio-wrap input:checked~.checkmark {
    background-color: #2196F3;
    color: #fff;
}

.reset-icon {
    margin-left: auto;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 60px;
    height: 45px;
    background: #000;
    cursor: pointer;
}

.reset-icon i {
    color: #fff;
    font-size: 25px;
}

.product-image-upload {
    position: relative;
    z-index: 1;
    margin-top: 20px;
}

.product-image-upload .form-control.upload {
    min-height: 300px;
    opacity: 0;
}

.custom-file-upload {
    background: #f8f8f8;
    position: absolute;
    width: 100%;
    height: 300px;
    top: 0;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #999;
}

.custom-file-upload i {
    font-size: 18px;
}

.custom-file-upload h4 {
    font-size: 16px;
    margin-top: 5px;
}

.image-btn-wrap {
    display: flex;
    margin: 30px 0 0;
}

.image-btn-wrap .btn:last-child {
    margin-left: 20px;
}

.image-btn-wrap .form-control {
    font-size: 16px;
}

.product-share {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 45px;
}

.product-share i {
    font-size: 18px;
    cursor: pointer;
    margin: 10px 0;
    background: #000;
    color: #fff;
    padding: 8px;
    border-radius: 50px;
}

.product-share i:hover {
    background-color: #f26b22;
}

.sketch-section {
    height: 400px;
}

.sketch-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.order-page-wrap .leftside-form {
    width: 93%;
}

.order-page-wrap .image-btn-wrap .btn {
    margin-left: 0;
    text-align: left;
}

.price-guide-desc .form-row {
    width: 100%;
    margin: 15px 0;
}

.price-guide-desc .form-row .form-control {
    border-radius: 5px;
}

.price-guide-desc .two-column {
    display: flex;
}

.price-guide-desc .two-column .column {
    width: 50%;
    padding: 0 5px;
}

.price-guide-desc .two-column .column:first-child {
    padding-left: 0;
}

.price-guide-desc .two-column .column:last-child {
    padding-right: 0;
}

.sub-total {
    margin-left: auto;
}

.sub-total label {
    text-transform: uppercase;
    color: #999;
    font-weight: 600;
    margin-bottom: 5px;
}

.sub-total .form-control {
    background: #eee;
    border: 0;
    border-radius: 0;
    width: 120px;
}

.variation-options .radio-btn-row {
    align-items: flex-end;
    padding: 0;
}

.variation-options h3 {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 20px;
}

.variation-options .image-btn-wrap {
    width: 35%;
}

.variation-options .image-btn-wrap .btn {
    border: 1.5px solid #ccc;
    border-radius: 20px;
}

#img2DesignModal .modal-content {
    flex-direction: row;
    background-color: transparent;
}

#img2DesignModal .btn-close {
    position: absolute;
    right: 30px;
    top: 0px;
    width: 0.5em;
    height: 0.5em;
    opacity: 1;
    background-color: #fff;
    padding: 10px;
    font-size: 11px;
    border-radius: 0;
}

.left-design-image img {
    width: 100%;
}

.left-design-image {
    background: #fff;
}

.left-design-image .img-desc p {
    margin: 0;
    color: #000;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 600;
}

.left-design-image .img-desc {
    padding: 15px;
}

#img2DesignModal .generate-btn {
    position: absolute;
    bottom: 28%;
    right: 20%;
    padding: 2px 0;
    width: 150px;
}

#img2DesignModal .generate-btn img {
    width: 40px;
}

#img2DesignModal .generate-btn .btn {
    font-size: 18px;
}

.logo-attachment-sec {
    display: flex;
    padding: 15px 0 40px;
    align-items: center;
    border-bottom: 1px solid #ccc;
    margin-bottom: 35px;
}

.logo-attachment-sec h4,
.comments-section h4 {
    font-size: 16px;
    color: #999;
    font-weight: normal;
}

.logo-attachment-sec h4 {
    color: #514747;
    font-size: 18px;
    font-weight: 600;
}

.logo-attachment-sec .icon {
    background: #000;
    border-radius: 50px;
    width: 35px;
    height: 35px;
    text-align: center;
    color: #fff;
    padding-top: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.shipping-title {
    background: #f2f2f2;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    padding: 10px;
}

.shipping-section {
    margin-top: 10em;
}

.shipping-section h4 {
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 25px 0;
    margin-bottom: 0;
}

.shipping-section .form-row {
    margin-bottom: 25px;
    display: flex;
}

.shipping-section .form-column {
    width: 100%;
}

.shipping-section .two-column .form-column {
    margin: 0;
    width: 50%;
    padding: 0 10px;
}

.shipping-section .two-column .form-column:first-child {
    padding-left: 0;
}

.shipping-section .two-column .form-column:last-child {
    padding-right: 0;
}

.shipping-section .two-column .form-column:only-of-type {
    padding-right: 10px;
}

.shipping-section .form-control {
    border: 1.5px solid #ccc;
    border-radius: 0;
    font-size: 14px;
}

.shipping-section select {
    appearance: auto;
}

.shipping-section .form-row:last-child {
    margin-bottom: 5px;
}

.shipping-desc {
    margin-top: 20px;
}

.shipping-desc p {
    margin: 0;
    font-size: 15px;
}

.shipping-desc h4 {
    padding-bottom: 10px;
}

.gift-check {
    display: block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    -webkit-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.gift-check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.gift-check .checkmark {
    position: absolute;
    top: 3px;
    left: 0;
    height: 20px;
    width: 20px;
    background: #fff;
    border: 2px solid #ccc;
}

/* .gift-check:hover input~.checkmark {
    background-color: #ccc;
} */

.gift-check input:checked~.checkmark {
    background-color: #2196F3;
}

.gift-check .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.gift-check input:checked~.checkmark:after {
    display: block;
}

.gift-check .checkmark:after {
    left: 7px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

span.ques-icon {
    display: inline-flex;
    margin-left: 10px;
}

span.ques-icon i {
    background: #000;
    padding: 5px;
    color: #fff;
    border-radius: 50px;
    width: 18px;
    height: 18px;
    text-align: center;
    font-size: 11px;
}

.thankyou-section {
    background: #fff;
    border: 1px solid;
    width: 58%;
    margin: auto;
    padding: 30px;
}

.thankyou-section .header {
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.thankyou-section h3 {
    text-transform: uppercase;
    color: #6c6c6c;
    font-weight: 700;
    font-size: 32px;
    margin: 0 0 0 15px;
}

.customer-desc {
    padding: 0 20px;
}

.customer-desc h3 {
    text-transform: capitalize;
    margin: 0 10px 0 0;
    text-align: right;
}

.customer-desc h4 {
    font-size: 20px;
}

.customer-desc p {
    margin-bottom: 5px;
}

.thankyou-section h6 {
    margin: 0;
    font-weight: bold;
}

.total-purchase {
    text-align: right;
}

.return-home {
    text-align: center;
    margin-top: 15%;
}

.bill-column {
    width: 50%;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
}

.bill-column.single {
    width: 100%;
    display: flex;
    flex-direction: row;
}

a.view-detail-link {
    margin-left: auto;
    color: #6c6c6c;
    font-size: 18px;
}

.billing-details-row {
    display: flex;
    margin-bottom: 15px;
}

.bill-column .item-card {
    border: 1px solid #ccc;
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    padding: 15px 20px;
    margin: 10px 0 5px;
}

.bill-column .item-card p {
    margin-bottom: 10px;
    color: #6c6c6c;
}

.customer-desc h5 {
    margin: 10px 0 20px;
    color: #6c6c6c;
    font-weight: 700;
}

.bill-column h6 {
    color: #6c6c6c;
    font-weight: 500;
    font-size: 17px;
}

.bill-column:first-child {
    padding-left: 0;
}

.bill-column:last-child {
    padding-right: 0;
}

ul.order-list {
    margin: 15px 0 0;
    padding: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    text-align: center;
}

ul.order-list li {
    list-style: none;
    border: 1px solid #ccc;
    padding: 5px 15px;
    width: 100%;
}

.billing-spl-note {
    width: 100%;
    height: 200px;
    border: 1px solid #ccc;
    border-radius: 0;
    margin-top: 15px;
    box-shadow: none !important;
}

.myaccount-row {
    max-width: 80%;
    margin: auto;
    border-bottom: 1px solid #ccc;
    padding-bottom: 40px;
}

.myaccount-row .form-title,
.recent-orders-sec .form-title {
    color: #61677A;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 15px;
}

.myaccount-links .nav {
    display: flex;
    justify-content: center;
}

.myaccount-links .nav-link {
    color: #61677A;
    border: 1px solid #ccc;
    font-size: 16px;
    padding: 12px 20px;
}

.myaccount-links {
    margin-top: 35px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    margin-bottom: 25px;
}

.myaccount-links .nav li {
    width: 21%;
    text-align: center;
    margin: 0 15px 15px 0;
}

.myaccount-links .nav-link:hover {
    background: #000;
    color: #fff;
}

.recent-orders-sec .table {
    border: 1px solid #ccc;
}

.recent-orders-sec .table th,
.recent-orders-sec .table td {
    border: 1px solid #ccc;
    color: #61677A;
    padding: 8px 20px;
    text-align: center;
    font-size: 15px;
}

.customer-support-form label {
    margin-bottom: 8px;
    font-weight: 600;
}

.customer-support-form .message-field {
    min-height: 150px;
}

.products-below-content {
    margin-top: 20px;
}

.products-below-content p {
    font-size: 20px;
    font-style: italic;
    line-height: 32px;
    font-weight: 600;
}